@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');
.bt > a {
  font-family: 'Signika', sans-serif;
  font-weight:80px;
  display:block;
  font-size: 1em;
  text-align: center;
  line-height: 30px;
  
  background: #A4FFFF;
  padding: 10px auto;
  border: 15px solid #38ADC1;
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;
  
  width: 60px;
  height: 30px;
  margin:10px auto;
}

.bt > a:hover{
  color: lightgreen;
  border: 15px solid pink;

}
  
.btcl{
  display:inline;
}
  