@charset "EUC-KR";
.t1 {
  margin: 10px auto;
  border: 2px solid gray;
  width: 500px;
  
  
 }
 .t1 > thead> tr > th{
  background: black;
  color: pink;
  width: 500px;
  border-collapse: collapse;
 }
 

 .t1 > tbody> tr> td:nth-child(1){
    text-align:center;
 }
 .t1 > tbody> tr> td:nth-child(2){
    text-align:left;
 }
 .t1 > tbody> tr> td:nth-child(3){
    text-align:center;
 }
 .t1 > tbody> tr> td:nth-child(4){
    text-align:right;
 }
 .t1 > tbody> tr:nth-child(2n){
   background:#BCE55C;
 }

 .t1 > tbody> tr:nth-child(2n+1){
   background:#B7F0B1;
  }
  
  .t1 > tbody > tr :hover{
   background: #CEF76E;
 }